body {
  font-family: Helvetica;
}

.navbar-component {
  height: 80px;
  padding: 20px 36px;
  display: flex;
  background-color: rgb(255, 252, 252);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  img {
    max-width: 120px;
  }
}

.photo-grid {
  padding: 16px 36px;
  img {
    width: 50%;
    text-align: center;
    display: block;
    margin: 48px auto;
  }
  .photo-grid-text {
    line-height: 110%;
    h1 {
      font-weight: 600;
    }
    p {
      font-weight: 300;
    }
  }
}
