body {
  font-family: Helvetica;
  margin: 0;
  background-color: rgb(190, 190, 190);
}


.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(5, 4, 4);
  height: 80px;
  padding: 16px;
  span {
    color: rgb(255, 255, 255);
  }
}

.body-info {
  text-align: center;
  color: rgb(255, 255, 255);
  ul {
    max-width: 20em;
    margin: auto;
    li {
      text-align: left;
    }
  }
}

footer {
  text-align: center;
}
