body {
  font-family: Helvetica;
  margin: 0;
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 80px;
  padding: 16px;
  span {
    color: white;
  }
}
