body {
  font-family: Helvetica;
  margin: 0;
  background-color: #23272e;
}


.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #282C34;
  height: 80px;
  padding: 16px;
  span {
    color: rgb(255, 255, 255);
  }
  i {
    color: #61DAFB;
  }
}

.body-info {
  text-align: center;
  color: rgb(255, 255, 255);
  ul {
    max-width: 20em;
    margin: auto;
    li {
      text-align: left;
    }
  }
}

footer {
  text-align: center;
  color: #61DAFB;
}
